/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/

.c-txt-lr {
  font-size: 2.2rem;
  letter-spacing: 10px;
}

.c-txt-md {
  font-size: 1.4rem;
  letter-spacing: 5px;
}

.c-txt-sm {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.view-more__link {
  & span {
    font-size: 1.6rem;
  }
}

//#header
.header {
  background-color: #fff;
  height: 110px;

  & .mobile-button {
    display: none;
  }

  & .logo {
    margin: 36px 20px 0 0;
    width: 280px;
    height: 55px;
  }

  & .mobile-container {
    display: inline;
    position: relative;
  }

  & .pc-container {
    display: block;
    padding: 3.5vw 10vw 0 0;
  }

  & .pc-header {
    &__list {
      display: flex;
      justify-content: flex-end;
    }

    &__item {
      font-size: 1.4rem;
      padding-left: 5vw;
    }

  }
}

//#news 
.p-news {
  padding-top: 5vw;

  &__tit {
    margin-bottom: 7vw;
  }
}

//#about
.p-about {

  &__desc {
    display: flex;
  }

  &__title {
    margin-top: 15vw;
  }

  &__textarea {
    padding-left: 40px;
  }
}

//#experience
.p-experience {
  &__img01 {
    left: 50%;
  }

  &__img02 {
    left: 70%;
  }

  &__img03 {
    left: 50%;
  }

  &__desc {
    margin-top: -50vw;
    width: 50%;
  }

  &__subtit {
    margin-top: 0;
  }

  &__bg {
    height: 70vh;
  }


}

//#menu
.p-menu {
  margin-top: 20vw;

  & img {
    height: 40%;
    width: 40%;
  }

  &__link {
    &::before {
      left: 42%;
    }
  }
}

//#instagram
.p-instagram {

  & img {
    width: 85%;
    height: 85%;
  }

  &__btn {
    & span {
      font-size: 1.4rem;
    }
  }
}

//#information 
.p-info {
  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;

    & p {
      font-size: 1.2rem;
    }

    & span {
      font-size: 1.4rem;
    }
  }
}

//footer
.p-footer {

  .c-logo {
    & img {
      width: 20%;
      height: 20%;
    }
  }
}

//* *  * * * * * * * menu-page * * * * * * * * * * 
.c-top {
  &__tit {
    font-size: 3rem;
  }
}

//* * * * * * news-page * * * * * * *

.c-news {
  padding-top: 5vw;

  &__list {
    & a {
      padding: 3vw 0 5vw 3vw;
    }

  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {
  padding-top: 100px;

  & .c-container {
    padding: 0 12vw;
  }

  &__list {
    padding-top: 6vw;
  }

  &__contents {
    padding: 8vw 0;
  }
}