//* * * * * * setting * * * * * * * 
body {
  font-family: 'Righteous', 'Noto Serif JP', cursive;
  text-transform: uppercase;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: $cBlack;
}

.c-container {
  padding: 0 10vw;
}

.p-superwrapper {
  overflow: hidden;
  text-transform: uppercase;
}

.c-txt-lr {
  font-size: 1.8rem;
  letter-spacing: 5px;
  line-height: 2;
  color: $cBlack;
  font-family: 'Righteous', 'Noto Serif JP', cursive;
}

.c-txt-md {
  font-size: 1.2rem;
  letter-spacing: 4px;
  line-height: 2;
  color: $cBlack;
  font-family: 'Righteous', 'Noto Serif JP', cursive;

}

.c-txt-sm {
  font-size: .9rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cBlack;
}

.c-txt-xs {
  font-size: .7rem;
  letter-spacing: 2px;
  line-height: 2;
  color: $cSubBlack;
}


.page-link {
  font-weight: bold;
  font-size: .9rem;
  color: rgb(66, 66, 66);
}

.c-img {
  margin: 0 -5vw;
  height: 55vh;
}

.c-title {
  & .txt {
    position: relative;
    padding-left: 12vw;

    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      content: '';
      display: inline-block;
      height: 1px;
      width: 8vw;
      background-color: $cGray;
    }
  }
}

.c-txtarea {
  position: absolute;
  top: 60%;
  left: 0;
  margin: 0 5vw;
  padding: 5vw;
  padding-bottom: 8vw;
  background-color: rgb(248, 245, 245);
  border: 1px solid rgb(216, 216, 216);
  box-shadow: 3px 3px 3px rgb(235, 235, 235);

  & .ja {
    letter-spacing: 3px;
    line-height: 2.2;
    color: $cSubBlack;
    font-weight: 100;
    font-size: .9rem;
    margin-bottom: 4vw;
  }

}

.c-txt-vertical {
  position: absolute;
  top: 40%;
  left: 5%;
  color: #a7816d;
  writing-mode: vertical-lr;
  font-size: .5rem;
  letter-spacing: 2px;
}

.c-txt02 {
  font-size: 1.1rem;
  margin-bottom: 5vw;
}

.view-more {
  margin-top: 10vw;
  text-align: right;
  padding-left: 3vw;
  padding-right: 8vw;
  padding-bottom: 1.5vw;
  letter-spacing: 3px;

  & a {
    color: $cBlack;

    & span {
      border-bottom: 1px solid rgb(223, 223, 223);
    }
  }
}

.more-link {
  color: $cSubBlack;
}

.icon-tel {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(../images/common/icon-tel.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }

}

.icon-map {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(../images/common/icon-map.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }

}

.icon-net {
  position: relative;

  &::before {
    content: '';
    display: block;
    background-image: url(../images/common/icon-calendar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17px;
    width: 17px;
  }

}

.icon-insta {
  position: relative;
  padding-left: 10vw;
  color: $cBlack;
  border-bottom: 1px solid $cGray;
  padding-bottom: 5px;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/common/icon-insta-gr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 20px;
    width: 20px;
  }
}

//#header
.header {
  width: 100%;

  & .logo__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    & a {
      height: 100%;
    }
  }

  & .logo {
    background-image: url(../images/common/riv_logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5vw 0 0 5vw;
    height: 44px;
    width: 115px;
  }

  // ***スクロールでロゴの色を変えるとき
  // & .menu-open {
  //   &.logo {
  //     transition: all .3s;
  //     background-image: url(../images/home/riv_logo.png) !important;
  //     background-position: center;
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //     margin: 5vw 0 0 5vw;
  //     height: 44px;
  //     width: 137px;
  //   }
  // }

  // & .inview {
  //   &.logo {
  //     transition: all .3s;
  //     background-image: url(../images/home/riv_logo-white.png);
  //     background-position: center;
  //     background-size: contain;
  //     background-repeat: no-repeat;
  //     margin: 5vw 0 0 5vw;
  //     height: 44px;
  //     width: 137px;
  //   }
  // }

  & .logo-gr {
    overflow: hidden;
  }

  & .pc-container {
    display: none;
  }

  & .sp-navbtn {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #fff;
    opacity: .7;
    height: 6vh;
    width: 100%;
    z-index: 2000;

    &__container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 60vw;
      margin: auto;

      & a {
        display: block;
      }
    }
  }

  & .hide {
    &.sp-navbtn {
      visibility: hidden;
      transform: translateY(50px);
      transition: all 0.4s;
    }
  }

  @media (min-width:960px) {
    & .pc-container {
      display: block;
    }
  }
}


//#top 
.p-top {
  position: relative;
  margin-top: 25px;

  &__txtarea {
    position: absolute;
    top: 30%;
    left: 5%;
    z-index: 100;

    & .main {
      padding-bottom: 9vw;

      & p {
        font-weight: 100;
        color: $cWhite;
      }
    }

    & .sub {
      & p {
        font-weight: 300;
        font-size: .9rem;
        line-height: 2;
        color: $cWhite;
      }
    }


  }

  & .swiper-container {
    height: 85vh;
  }
}

//#about 
.p-about {
  padding: 10vw 0;

  &__img-wrap {
    position: relative;
    margin: 0 -10vw 0 -10vw;
  }

  &__img01 {
    height: 38vh;
    clip-path: polygon(0 0, 100% 0%, 100% 68%, 0% 100%);
  }

  &__img02 {
    position: absolute;
    top: 62%;
    right: 0;
    z-index: -1;
    height: 30vh;
    width: 80%;
    clip-path: polygon(100% 1%, 0 33%, 100% 100%);
  }

  &__subtit {
    margin: 8vw 0;
  }
}

//#experience
.p-experience {
  position: relative;
  padding: 10vw 0;

  &__img-wrap {
    position: relative;
    height: 50vh;
    margin: 0 -10vw;
  }

  &__img01 {
    height: 40vh;
    position: absolute;
    top: 10%;
    left: 10%;


    & img {
      width: 180px;
      height: 180px;
      clip-path: circle(50% at 50% 50%);
    }
  }

  &__img02 {
    height: 40vh;
    position: absolute;
    top: 40%;
    right: 0;

    & img {
      width: 180px;
      height: 180px;
      clip-path: circle(50% at 50% 50%);
    }
  }

  &__img03 {
    height: 40vh;
    position: absolute;
    top: 70%;
    left: 10%;

    & img {
      width: 180px;
      height: 180px;
      clip-path: circle(50% at 50% 50%);
    }
  }

  &__subtit {
    margin: 25vw 0 8vw 0;
  }

  &__bg {
    position: absolute;
    top: -10%;
    right: 0;
    background-color: #dff7fd;
    height: 85vh;
    width: 80%;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 0 21%);
    z-index: -1;
  }
}

//#menu
.p-menu {
  padding: 20vw 0;

  &__infslider {
    position: relative;
    margin: 0 -10vw;

    & img {
      border-radius: 5%;
      border: 2px solid #fff;
    }

    & .small {
      height: 50%;
    }
  }

  &__link {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 2rem;
    z-index: 100;

    & p {
      position: relative;
    }

    &::before {
      position: absolute;
      top: -17%;
      left: 35%;
      content: '';
      display: block;
      background-color: #fff;
      height: 73%;
      width: 30%;
      border-radius: 50%;
      box-shadow: 5px 5px 10px 0 rgb(94, 94, 94);
    }
  }

  &__title {
    margin: 8vw 0;
  }
}

//#instagram
.p-instagram {
  position: relative;
  padding: 10vw 0 20vw 0;

  &__link {
    margin: 5vw 0 8vw 0;
  }

  &__btn {
    display: inline-block;
    padding: 3vw 10vw;
    border-radius: 30px;
    border: 2px solid $cBlack;

    & span {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 2px;
        right: -25px;
        display: inline-block;
        height: 15px;
        width: 15px;
        background-image: url(../images/common/arrow.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }

  &__img {
    display: flex;
    flex-wrap: wrap;
  }

  & figure {
    margin-bottom: 0;
    width: 50%;
    border: 2px solid #fff;

    & img {
      border-radius: 10%;
    }
  }

  &__title {
    & span {
      position: relative;
      padding-right: 50px;

      &::after {
        content: '';
        position: absolute;
        top: 6px;
        right: 10px;
        display: inline-block;
        height: 25px;
        width: 25px;
        background-image: url(../images/common/icon-insta-gr.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

//#information
.p-info {
  position: relative;
  padding: 10vw 0 15vw 0;

  &__tit {
    & p {
      margin-bottom: -20px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  &__item {
    margin-top: 8vw;
    letter-spacing: 2px;

    & p {
      margin-top: 3vw;
      font-size: .8rem;
    }

    & .tel {
      margin-top: 5vw;
    }

    & .g-map {
      position: relative;
      color: $cBlack;
      padding: 0 0 5px 25px;
      display: inline-block;
      border-bottom: 1px solid $cSubBlack;
      margin-top: 5vw;
      font-size: .8rem;

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        height: 20px;
        width: 20px;
        background-image: url(../images/common/icon-map.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
  }
}

//#news
.p-news {
  position: relative;
  padding: 15vw 0;

  &__tit {
    margin-bottom: 10vw;

    & p {
      margin-bottom: -20px;
    }
  }

  &__txt {
    margin: 5vw 0;
  }

  &__link {
    display: block;
    padding: 5vw 0;

    & p {
      margin-top: 2vw;
    }
  }

  &__item {
    border-bottom: 1px solid rgb(235, 235, 235);

    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }
  }

  &__date {
    color: $cGray;
  }

  & .view-more {
    padding-right: 0;
  }
}

//#footer 
.p-footer {
  padding: 10vw 0;
  background-color: rgb(238, 231, 231);

  &__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__item {
      width: 50%;
    }
  }

  & .c-logo {
    text-align: center;

    & img {
      width: 35%;
      height: 35%;
      object-fit: contain;
    }
  }

  &__sns {
    display: flex;
    justify-content: center;
    margin-bottom: 10vw;
  }

  & .sns-insta {
    & .sns-link {
      position: relative;
      display: block;
      float: left;
      width: 44px;
      height: 44px;
      margin: 0 5px;
      background-color: #fff;
      border-radius: 22px;
      box-shadow: 0 12px 16px rgb(182, 182, 182);
      transition: box-shadow 1s;

      & i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-image: url(../images/common/icon-insta-gr.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 22px;
        width: 22px;
      }
    }

  }

  & .sns-fb {
    & .sns-link {
      position: relative;
      display: block;
      float: left;
      width: 44px;
      height: 44px;
      margin: 0 5px;
      background-color: #fff;
      border-radius: 22px;
      box-shadow: 0 12px 16px rgb(182, 182, 182);
      transition: box-shadow 1s;

      & i {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-image: url(../images/common/facebook-ico.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        height: 22px;
        width: 22px;
      }
    }

  }

  & .copyright {
    text-align: center;
    margin-top: 5vw;
    font-size: .8rem;
  }
}

//* * * * * * menu-page * * * * * * * 
.superwrapper-menu {
  padding-top: 50px;

  .c-top {
    &__tit {
      padding: 0 0 12vw 0;
      text-align: center;
    }

    & p {
      margin-top: -10px;
    }
  }

  .c-menu {
    padding: 10vw 0;

    .c-txt-xs {
      text-align: center;
    }
  }
}

//* * * * * * news-page * * * * * * * 
.c-news {
  padding-top: 20vw;

  &__link {
    display: block;
    padding: 8vw 0;

    & p {
      margin-top: 2vw;
    }
  }

  &__item {
    border-bottom: 1px solid rgb(235, 235, 235);

    &:first-child {
      border-top: 1px solid rgb(235, 235, 235);
    }
  }

  &__date {
    color: $cGray;
  }

  .page-numbers {
    margin: 12vw 0;
  }

  .page-numbers:not(.next):not(.prev) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $cBlack;

    & .current {
      border: 1px solid rgba(0, 0, 0, 0);
      background: #dffde2 !important;
    }

    & .page-numbers:not(.next):not(.prev) {
      width: 10vw;
      height: 10vw;
      border-radius: 100%;
      border: 1px solid #C4CCD1;
      background: #fff;
      margin: 0 1.3vw;
    }

    & .next {
      position: relative;
      padding-right: 22px;
      top: 0;

      &::after {
        transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
        content: "";
        position: absolute;
        right: 0;
        background-image: url(../images/common/arrow.png);
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 5px;
        width: 15px;
        height: 15px;
        margin-left: 8px;
      }
    }

    @media (max-width:767px) {
      & .next {
        display: none;
      }
    }

    @media (min-width:768px) {
      & .page-numbers:not(.next):not(.prev) {
        width: 40px;
        height: 40px;
      }
    }
  }

  .c-news__contents {
    line-height: 2;
    font-size: .8rem;
  }

  .c-news__title {
    text-align: center;
    margin-bottom: 10vw;
  }

  .c-news__block {
    padding: 8vw 0;
  }
}

//* * * * * * news-single-page * * * * * * * 
.c-news-sl {
  padding-top: 50px;

  & .c-container {
    padding: 0 5vw;
  }

  &__date {
    color: $cGray;
  }

  &__list {
    padding: 15vw 0 0 0;
  }

  &__contents {
    padding: 10vw 0;
    line-height: 2;
  }

  &__link {
    margin: 0 0 10vw 0;

    & a {
      border-bottom: 1px solid rgb(114, 114, 114);
    }
  }
}